<!DOCTYPE html>
<html>

<head>
	<div th:insert="librerias::librerias"></div>

</head>

<body>

	<div class="container">
		<header>
			<div th:insert="top::top"></div>
		</header>
		<div class=row pl-5 pr-5>
			<div class="col-9">
				<h5>Lista del deck</h5>
				<div class="card border border primary" th:object="${deckMostrar}">
					<form action="#" th:action="@{/decks/edit/{id}(id=${deckMostrar.id})}" th:object="${deckMostrar}"
						method="post">
						<div class="card-body row pt-4 pb-4">
							<div class="col-7">
								<div class="card">
									<div class="card-header text-dark bg-light">Id del deck

									</div>
									<div class="card-body">
										<div class="mb-2">
											<label for="texto">Nombre del usuario</label>
											<label th:text="*{usuario.nombre}" class="form-control">

											</label>
										</div>

									</div>
								</div>
							</div>
							<div class="col-5">
								<div class="card">
									<div class="card-header text-dark bg-light">Cartas:
									</div>
									<div class="card-body">
										<label for="texto">DeckList</label>
										<table class="table table-hover">
											<thead class="tabe-dark bg-info text-white">
											</thead>
											<tbody>
												<div class="card-body">
													<span th:each="carta:${deckMostrar.cartas}">
															<span><span
																	th:text="${carta.nname}"></span></span>
														</p>
													</span>
												</div>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<p><a th:href="@{/decks}" class="btn btn-primary m-3">Cerrar</a></p>


					</form>
				</div>

			</div>
		</div>

	</div>
</body>

</html>