<!DOCTYPE html>

<head th:insert="librerias::librerias">
</head>

<body style="background-image: url(https://www.alayna.net/images/gallery/fullsize/mtg/tranquil.jpg);">
	<div class="container">
		<header>
			<div th:insert="top::top"></div>
		</header>
		<h1>Decks creados</h1>
		<!--Imprimir tarjetas de decks -->
		<div class="row">
			<!--El meollo-->
			<div th:if="${listarDecks.empty}">
				<div class="col-md-6 mb-4">
					<div class="card">
						<div class="card-body">
							<p class="card-text">No hay decks</p>
						</div>
					</div>
				</div>
			</div>
			<div th:each="deck:${listarDecks}" class="col-md-3 mb-4" >
				<div class="card" style="height: 400px;">
					<div class="card-body">
						<h5 class="card-title">Deck <span th:text="${deck.getNombre()}"></span></h5>
						<p class="card-text">Creado por: <span th:text="${deck.getUsuario().getNombre()}"></span></p>
						<a th:href="@{/decks/{id}(id=${deck.id})}" class="btn btn-primary btn-sm d-flex flex-end">Ver detalle</a>
						<a th:attr="data-target='#modal-delete'+ ${deck.getId()}"
							sec:authorize="hasAuthority('ROLE_ADMIN')" data-toggle="modal"
							class="btn btn-danger btn-sm text-white pointer d-flex flex-end">Borrar</a>
							
					</div>
				</div>
				<!-- Agrega este modal debajo de tu tarjeta -->
				<div class="modal fade" th:id="'modal-delete'+${deck.getId()}" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>¿Estás seguro que deseas eliminar el deck <span
										th:text="${deck.getNombre()}"></span>?</p>
							</div>
							<!--	<div class="modal-footer">
							<form th:action="@{/decks/delete/{id}(id=${deck.getId()})}" method="post">
								<input type="submit" value="Eliminar" class="btn btn-danger" />
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							</form>
						</div> -->
						</div>
					</div>
				</div>
				<div class="modal fade" id="crearMensaje">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">

									<h4 class="modal-title" id="exampleModalLabel">Crear Deck</h4>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">x</span>
									</button>
								</div>
								<div class="modal-body">
									<p class="error-text">Crear nuevo deck:
									</p>

									<form action="#" th:action="@{/decks/addncard}" th:object="${deckNuevo}"
										method="post">
										<p class="error-text">Introduce el nombre del deck:
											<input type="text" th:field="*{nombre}" class="form-control" id="nombre"
												th:attr="placeholder=${deck.getNombre()}"></input>
										</p>
										<div class="form-row">
											<div class="form-group mt-4">
												<label for="texto">Creado por: <p th:text="${usuarioLogueado.getUsername()}"></p></label>
											</div>
										</div>

										<div class="form-row">
											<div class="form-group mt-4">
												<label for="texto">Seleccionar las cartas</label>
												<select th:field="*{cartas}" multiple="multiple"
													class="form-control selectpicker" name="cartas" id="cartas">
													<option th:each="c:${listarCartas}" th:value="${c.id}"
														th:text="${c.nname}" value="">Selecionar Cartas</option>
												</select>
											</div>
										</div>

								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal"
										aria-hidden="true">Cancelar</button>
									<input type="submit" value="Crear Deck" class="btn btn-primary float-right" />

								</div>
								</form>
							</div>
						</div>

					</div>
			</div>
		</div>
		<div class="col-2 float-right">
			<div class="p-5" sec:authorize="isAuthenticated()">
				<button type="button" class="btn btn-primary float-rigth" data-toggle="modal"
					data-target="#crearMensaje">
					+ </button>
			</div>
		</div>
	</div>
</body>