<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTGDecks</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class= "menu-superior">

            <div class="logo"><a href="/" title="pagina-principal"><img src="/img/Logo.png" alt="" width="100px" height="50px"></a></div>
            <div class="menu"><a href="/decks" title="pagina-decks">Decks </a></div>
            <div class="menu"><a href="/usuarios" title="pagina-decks">Usuarios </a></div>
            <div class="menu"><a href="/login" title="pagina-decks">Login </a></div>
            
        </div>
        
    </header>
    <div class="portada-mazos">
        <div class="preview">
            <div class="titulo">DECKS POPULARES</Datag></div>
        <div class="mazos">
            <div class="preview-mazo1"></div>
            <div class="preview-mazo2"></div>
            <div class="preview-mazo3"></div>
            <div class="preview-mazo4"></div>
        </div>
        </div>
        
    </div>
    <div class="portada-cartas">
        <div class="titulo2"> Cartas mas jugadas</div>
        <div class="cartas-populares">
            <div class="carta1"></div>
            <div class="carta2"></div>
            <div class="carta3"></div>
        </div>
    </div>
    <div class="portada-noticias">
        <div class="noticia1">
            <div class="foto-noticia1"></div>
            <div class="texto-noticia">LMS en Barcelona</div>        
        </div>
        <div class="noticia2">
            <div class="foto-noticia2"></div>
            <div class="texto-noticia">Spoilers de la nueva coleccion</div> 
        </div>
        <div class="noticia3">
            <div class="foto-noticia3"></div>
            <div class="texto-noticia">Nuevas caracteristicas de MTGArena</div> 
        </div>
    </div>
    <div class="redactores">
        <div class="redactor">
            <div class="foto1"></div>
            <div class="texto">
                <div class="titulo">Persona</div>
                <div class="contenido">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos nobis sequi ipsum nisi tempora facere numquam ratione modi sed necessitatibus at architecto maiores saepe quam laboriosam blanditiis eligendi quae, esse voluptatem in vitae asperiores aperiam! Quisquam, a minus eaque qui quae iste consequuntur officiis placeat, dolores quas illum maxime quasi.</div>
            </div>
        </div>
        <div class="redactor">
            <div class="foto2"></div>
            <div class="texto">
                <div class="titulo">the cooler persona</div>
                <div class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit reiciendis vel, ratione officiis totam, porro consequatur sint nisi perspiciatis nam veniam non expedita beatae reprehenderit delectus iusto dicta deleniti illum nobis debitis accusamus. Sed, minus quos. Tempora architecto velit, unde ea atque molestias nobis, beatae eos totam, autem labore quia!</div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>